<div class="container">
  <div class="row">
    {{#each datos}}
      <div class="col col-3 m-2">
        <div class="card" style="width: 18rem;">
          <img src="{{imagen}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <p class="card-text">{{poder}} {{alias}} </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
